<!DOCTYPE html>
<html lang="ko">
<!--<html lang="ko" xmlns:th="http://www.thymeleaf.org"-->
<!--                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 부트스트랩 -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/mdb.min.css}">


    <!-- css -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/login.css}">

    <title>wikidocs sbb</title>
</head>
<body>
<!--네비게이션바-->
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<!-- 기본 템플릿 안에 삽입될 내용 시작 -->
<th:block layout:fragment="content"></th:block>
<!-- 기본 템플릿 안에 삽입될 내용 끝 -->
<!--부트스트랩 JS-->
<script th:src="@{/bootstrap.min.js}"></script>
<!-- 부트스트랩 JS 끝 -->
<!-- 자바스크립트 시작 -->
<th:block layout:fragment="script"></th:block>
<!-- 자바스크립트 끝 -->
</body>
</html>